name: Build with Buck

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install buck from official github (release 2022.05.05.01)
      run: >
          wget https://github.com/facebook/buck/releases/download/v2022.05.05.01/buck.2022.05.05.01_all.deb -O buck.deb
          && sudo apt-get install openjdk-8-jre-headless
          && sudo dpkg --install buck.deb
    - name: Build our program
      run: buck build :distupgrader
    - name: Store result
      uses: actions/upload-artifact@v3
      with:
        name: distupgrader
        path: ./buck-out/gen/distupgrader.pex
